<mat-card>
  <mat-card-title>Calculadora</mat-card-title>
  <mat-form-field>
    <input matInput type="number" placeholder="Número 1" [(ngModel)]="num1">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="Número 2" [(ngModel)]="num2">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="suma()">Sumar</button>
  <button mat-raised-button color="primary" (click)="resta()">Restar</button>
  <button mat-raised-button color="primary" (click)="multiplica()">Multiplicar</button>

</mat-card>
