<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Iniciar Sesión</h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="username">Usuario</label>
                            <input type="text" class="form-control" id="username" placeholder="Ingresa tu usuario"
                                [(ngModel)]="username" name="username"> <!-- Agrega el atributo name -->
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="password" class="form-control" id="password"
                                placeholder="Ingresa tu contraseña" [(ngModel)]="password" name="password"> <!-- Agrega el atributo name -->
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" (click)="login()"> Iniciar Sesión</button> <!-- Corrige el método login -->
                    </form>
                    <p *ngIf="token">Token generado: {{ token }}</p> <!-- Muestra el token si existe -->
                </div>
            </div>
        </div>
    </div>
</div>
