*{
    text-align: center;
}
.container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: start;
    height: 450px;
}

.izq,
.dch {
    display: grid;
    justify-content: center;
}

.centro{
    width: 100%;
    height: 70%;
    border: 10px solid black;
    justify-content: center;
}
.cuadrado{
    height: 75px;
    width: 150px;
    margin: 5px;
    display: inline-block;

}
#cuadrado1{
    background-color: black;
}
#cuadrado2{
    background-color: red;
}
#cuadrado3{
    background-color: blue;
}
#cuadrado4{
    background-color: yellow;
}
#cuadrado5{
    background-color: green;
}
#cuadrado6{
    background-color: pink;
}